html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: grid;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Code*/

body{
    background: #88C4C8;
    font-family: 'Lato', sans-serif;
}

header{
    display: flex;
    
    flex-direction: row;
    justify-content: center;

    margin-bottom: 50px;
    margin-top: 10px;

    color: #7BB0B4;;
    text-align: center;
    font-size: 600%;  

    -webkit-text-stroke: 2px black ;
    text-shadow: -8px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
}

/*Barra de scroll*/

body::-webkit-scrollbar {
    width: 0.75rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #88C4C8;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.424);
  }


.lamp{
    display: flex;
    position: fixed;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 0px;
    padding: 0px;
    margin: 0px;
    margin-left: -5%;
}

.bulb{
    position: relative;
    background-color: rgb(249, 250, 0);
    height: 4em;
    width: 4em;
    border-radius: 100%;
    box-shadow: 0px 20px 20px 10px rgba(255, 255, 255, 0.237);
    margin: -48%;
    z-index: 99;
}


.light_lamp{
    background: radial-gradient(circle, rgb(217, 242, 243) 0%, #88C4C8 60%);
    clip-path: polygon(45% 33%, 55% 33%, 70% 100%, 30% 100%);
    height: 400px;
    width: 350px;
    opacity: 40%;
}

.bulb:hover{
    cursor: pointer;
    background-color: rgba(249, 249, 63);
    box-shadow: 0px 0px 0px;
    border: 1px solid #e6e6e6;
}

.bulb:hover + .light_lamp{
    opacity: 20%;
}


.grid-css{
    display: grid;
    
    grid-template-columns: 200px 200px;
    row-gap: 15%;
    column-gap: 20%;
    justify-items: center;
    justify-content: center;

}

.quadrado{
    display: flex;
    background: #7BB0B4;
    
    border-radius: 10px;
    
    padding: 5%;
    gap: 5px;
    
    
    text-align: center;
    font-weight: 700;
    
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
}

.button{
    background-color: #e6e6e678;
    border-radius: 5px;
    
    width: 30%;
    margin-top: -20px;
}

.button:hover{
    background-color: #ffffffd2;
    cursor: pointer;
}

.inputnum{
    width: 100%;
}

::placeholder{
    text-align: center;
}


/*!TIRAR SETAS DO TYPE NUMBER INPUT!*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;

}

input{
    border-radius: 6px;
    border-style: none;
    text-align: center;
}

/*Fraction settings*/

.fraction{
    display: flex;
  
    align-items: center;
  
    justify-items: center;
    justify-content: space-around;
  
    flex-direction: row;
    align-items: center;

    text-align: center;
    font-weight: 700;
    
}

.inputnum2{
    display: grid;
    width: 80%;
    margin: 7px;
}

.button2{
    background-color: #e6e6e678;
    border-radius: 5px;
    
    width: 30%;
    margin-top: -20px;
    padding: 0px;
    text-align: center;
}

.button2:hover{
    background-color: #ffffffd2;
    cursor: pointer;
}

/*Operação potencia*/

.numbers_exponent{
    display: flex;
  
    align-items: center;
  
    justify-items: center;
    justify-content: space-around;
  
    flex-direction: row;
    align-items: center;

    text-align: center;
    font-weight: 700;
    
}

/*MEDIA*/

@media (max-width:500px ) {
    .quadrado{
        width: 10%;
        max-height:100%
    }

    .inputnum{
        width: 60%;
    }
}

@media (max-width:800px) {
    .quadrado{
        width: 120%;
        max-height:100%;
    }

    .inputnum{
        width: 80%;
    }
}
@media (max-width:840px){
    .lamp{
        display: flex;
        position: fixed;
        align-items: center;
        align-content: center;
        flex-direction: column;
        gap: 0px;
        padding: -10%;
        margin: -6em;
    }
}
@media (min-width:801px){    
    .quadrado{
        width: 22em;
        height: 8em;
        max-height: 100%;
    }
} 

